DATABASE_PASSWORD=<password>
# supported database backends: postgres, sqlite
# DATABASE_URL="postgres://benjrm:${DATABASE_PASSWORD}@localhost:5432/benjrm"

# for sqlite, create an empty file (e.g. in the project's root directory): `touch benjrm.db`
# alternatively for an in-memory database, use "sqlite::memory:"
# DATABASE_URL="sqlite:../benjrm.db"

PUBLIC_URL="http://localhost:8080"

OIDC_CLIENT_ID="benjrm"
OIDC_CLIENT_SECRET="<client_secret>"

# To use Keycloak as identity provider, set OIDC_KEYCLOAK_URL and OIDC_KEYCLOAK_REALM.
# All necessary endpoints will be configured automatically.
OIDC_KEYCLOAK_URL="http://localhost:8088"
OIDC_KEYCLOAK_REALM="benjrm"

# To use some other identity provider, configre the endpoints below:
# IMPORTANT: check README.md for security notes.
#OIDC_AUTHORIZATION_URL="idp.example.com/openid-connect/auth"
#OIDC_TOKEN_URL="idp.example.com/openid-connect/token"
#OIDC_USERINFO_URL="idp.example.com/openid-connect/token"
#OIDC_ISSUER_URL="idp.example.com"
#OIDC_LOGOUT_URL="idp.example.com/openid-connect/logout"
