DATABASE_PASSWORD=<password>
# supported database backends: postgres, sqlite
# for an in-memory database, use "sqlite::memory:"
DATABASE_URL="postgres://benjrm:${DATABASE_PASSWORD}@localhost:5432/benjrm"
