DATABASE_PASSWORD=<password>
# supported database backends: postgres, sqlite
# DATABASE_URL="postgres://benjrm:${DATABASE_PASSWORD}@localhost:5432/benjrm"

# for sqlite, create an empty file (e.g. in the project's root directory): `touch benjrm.db`
# alternatively for an in-memory database, use "sqlite::memory:"
# DATABASE_URL="sqlite:../benjrm.db"

# This is an example environment variable configuration file for Keycloak.
# It is intended to be used for other services in the 'docker-compose.dev.yml' and 'docker-compose.prod.yml'
# files.
# Considering further deployment of the services this file should be used as a template and
# the actual values should be stored in a secure vault and injected into the environment variables in the CI/CD pipeline.
# As team we considered using GitHub Secrets for this purpose.

# Identity Provider Keycloak
# see all configuration options at https://www.keycloak.org/server/all-config

# Temporary bootstrap admin username.
# Used only when the master realm is created. Available only when bootstrap admin password is set.
# Default is temp-admin.
KC_BOOTSTRAP_ADMIN_USERNAME=admin

# Temporary bootstrap admin password.
# Used only when the master realm is created. Use a non-CLI configuration option for this option if possible.
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# The proxy headers that should be accepted by the server.
# Misconfiguration might leave the server exposed to security vulnerabilities.
# Takes precedence over the deprecated proxy option.
# https://www.keycloak.org/server/reverseproxy
KC_PROXY_HEADERS=xforwarded

# Enables the HTTP listener.
# Enabled by default in development mode.
# Typically not enabled in production unless the server is fronted by a TLS termination proxy.
# default is true for development and false for production.
KC_HTTP_ENABLED=true

# Disables dynamically resolving the hostname from request headers.
# Should always be set to true in production, unless your reverse proxy overwrites the Host header. If enabled, the hostname option needs to be specified.
# Default is false.
KC_HOSTNAME_STRICT=false

# A realm manages a set of users, credentials, roles, and groups.
# A user belongs to and logs into a realm.
# Realms are isolated from one another and can only manage and authenticate the users that they control.
KC_REALM_ID=benjrm

# --- Client configurations ---
# Client configuration for the server-side API application.
# It uses a Standard Flow (Authorization Code Flow) with Profo Key for Code Exchange (PKCE).
# It is configured as a confidential client, which the following configurations:
KC_CLIENTID_API_BASE_URL=http://localhost:8080
KC_CLIENTID_API_CLIENT_SECRET=PFUqhsIk1jmMS6l6sEMdgsf2TXqm9CnE

KC_SMTP_SERVER_FROM=noreply@benjrm.de
KC_SMTP_SERVER_HOST=smtp.ionos.de
KC_SMTP_SERVER_PORT=465
KC_SMTP_SERVER_SSL=true
KC_SMTP_SERVER_AUTH=true
KC_SMTP_SERVER_PASSWORD=<EMAIL_PASSWORD>
KC_SMTP_SERVER_USER=noreply@benjrm.de

# Configuring the database, see: https://www.keycloak.org/server/db
# https://www.keycloak.org/server/all-config#category-database
# The database vendor.
KC_DB=postgres

# The username of the database user.
KC_DB_USERNAME=keycloak

# The password of the database user.
KC_DB_PASSWORD=jEqTGhoqOl9DQ76R

KEYCLOAK_DATABASE=keycloak

# The full database JDBC URL.
# If not provided, a default URL is set based on the selected database vendor.
# For instance, if using postgres, the default JDBC URL would be jdbc:postgresql://localhost/keycloak.
KC_DB_URL="jdbc:postgresql://database/${KEYCLOAK_DATABASE}"

# The used HTTP port.
# Default is 8080.
KC_HTTP_PORT=8088

# The HTTP Host.
# In prod mode or when running on Windows Subsystem For Linux the default is to bind to all network addresses (0.0.0.0),
# which means the server may be accessible from other machines on your network. Otherwise defaults to localhost.
KC_HTTP_HOST=0.0.0.0

# The log level of the root category or a comma-separated list of individual categories and their levels.
# For the root category, you don’t need to specify a category.
# Default is INFO.
KC_LOG_LEVEL=info

# If the server should expose health check endpoints.
# If enabled, health checks are available at the /health, /health/ready and /health/live endpoints.
# Defaults to false.
KC_HEALTH_ENABLED=true

# If health endpoints should be exposed on the management interface.
# If false, health endpoints will be exposed on the main interface.
# Available only when KC_HEALTH_ENABLED is true.
# Defaults to true.
KC_HTTP_MANAGEMENT_HEALTH_ENABLED=true

# Port of the management interface.
# Relevant only when something is exposed on the management interface (e.g. KC_HTTP_MANAGEMENT_HEALTH_ENABLED is true).
# Defaults to 9000.
KC_HTTP_MANAGEMENT_PORT=9000

# Configures the management interface scheme.
# If inherited, the management interface will inherit the HTTPS settings of the main interface.
# If http, the management interface will be accessible via HTTP - it will not inherit HTTPS settings
# and cannot be configured for HTTPS.
# Defaults to inherited.
KC_HTTP_MANAGEMENT_SCHEME=http

# Toggles the hostname debug page that is accessible at /realms/master/hostname-debug.
# Defaults to false.
KC_HOSTNAME_DEBUG=false

