ACME_EMAIL=webmaster@benjrm.de

RFC2136_NAMESERVER=your-nameserver.de
RFC2136_TSIG_KEY="<tsig_key>"
RFC2136_TSIG_SECRET="<tsig_secret>"
RFC2136_TSIG_ALGORITHM=hmac-sha512.

# generate using: `htpasswd -nBC 12 admin`
DASHBOARD_USER="admin:$2y$12$..."
